#leaf {
  z-index: 999;
  width: 20px;
  height: 40px;
  background-color: #00ff00;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%); /* Centrer la feuille horizontalement */
  bottom: -40px; /* Position initiale en dessous de l'écran */
  transition: bottom 0.5s ease-in-out; /* Transition pour un mouvement fluide */
}